# Always ignore these files:
.config/*
.config/fish/fish_variable
.config/noctalia/plugins/
.config/nvim/lazy-lock.json
.config/tmux/plugins
LICENSE
README.md


# Allowlist (All machines)
!.config/nvim
!.config/fish
!.config/bat
!.config/fd
!.config/eza
!.config/fastfetch
!.config/git

# Mac Only
{{- if eq .chezmoi.os "darwin"}}
!.config/skhd
!.config/yabai
{{- end }}

# Linux Only
{{- if eq .chezmoi.os "linux" }}
{{- end }}
