# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                 chezmoiignore                   ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
# ━━━━━━━━━ Ignored ━━━━━━━━━
.config/*         # Ignore everything by default
LICENSE
README.md

# ━━━━━━━━━ macOS allowlist ━━━━━━━━━
{{- if eq .chezmoi.os "darwin" }}
!.config/tmux
!.config/fish
!.config/bat
{{- end }}

# ━━━━━━━━━ Linux allowlist ━━━━━━━━━
{{- if eq .chezmoi.os "linux" }}
!.config/tmux
!.config/kitty
!.config/fish
!.config/plasma-workspace
!.config/bat
{{- end }}

# ━━━━━━━━━ Kali ━━━━━━━━━
{{- if ne .chezmoi.hostname "kali" }}
.local/bin/bat
{{- end }}
