# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃              Environment Variables              ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
set -gx EDITOR nvim
set -gx VISUAL neovide
set -gx GTK_USE_PORTAL 1
set -gx MANPAGER "sh -c 'awk '\''{ gsub(/\x1B\[[0-9;]*m/, \"\", \$0); gsub(/.\x08/, \"\", \$0); print }'\'' | bat -plman'"
set -gx MANWIDTH 100
set -gx STARSHIP_CONFIG ~/.config/starship/starship.toml

# ━━━━━━━━━ fzf ━━━━━━━━━
set -gx FZF_DEFAULT_COMMAND 'fd --type f --hidden --follow --exclude .git'
set -gx FZF_DEFAULT_OPTS --layout=reverse --info=inline-right --cycle --highlight-line \
    --bind=ctrl-up:preview-up,ctrl-down:preview-down,ctrl-u:preview-half-page-up,ctrl-d:preview-half-page-down \
    '--color=fg:#e2d9c5,bg:-1,hl:#fd5e3a,fg+:#e2d9c5,bg+:#08435e,hl+:#fd5e3a' \
    '--color=info:#3e7a9b,prompt:#66def9,pointer:#ec30ac,marker:#ec30ac,spinner:#66def9' \
    '--color=header:#3e7a9b,border:#35b5ff,label:#66def9'

# ━━━━━━━━━ Fish ━━━━━━━━━
set -g fish_greeting

{{- if eq .chezmoi.os "linux" }}
{{- end }}

# ━━━━━━━━━ PATH ━━━━━━━━━
fish_add_path -g ~/.local/bin
fish_add_path -g ~/.bun/bin
{{- if eq .chezmoi.os "darwin" }}
fish_add_path -g /opt/homebrew/bin /opt/homebrew/sbin
{{- end }}
