# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                   Environment                   ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
# XDG Directories
set -xg XDG_CONFIG_HOME $HOME/.config
set -xg XDG_CACHE_HOME $HOME/.cache
set -xg XDG_DATA_HOME $HOME/.local/share
set -xg XDG_STATE_HOME $HOME/.local/state
set -xg XDG_BIN_HOME $HOME/.local/bin
set -xg XDG_SCRIPT_HOME $HOME/.local/script

set -xg GOPATH $XDG_DATA_HOME/go
set -xg GOBIN $GOPATH/bin/
set -xg WINEPREFIX $XDG_DATA_HOME/wine

# Change configuration location
set -xg RIPGREP_CONFIG_PATH $HOME/.config/rg/.ripgreprc
set -xg STARSHIP_CONFIG $XDG_CONFIG_HOME/starship/starship.toml

set -xg EDITOR nvim
set -xg VISUAL $EDITOR
set -xg SUDO_EDITOR $EDITOR
set -xg MANROFFOPT -c
set -xg MANPAGER "sh -c 'col -bx | bat -l man -p'"
set -xg BAT_THEME neofusion
set -xg GTK_USE_PORTAL 1

{{- if eq .chezmoi.os "linux" -}}
# Linux-only
set -xg DOCKER_HOST unix://$XDG_RUNTIME_DIR/docker.sock
{{ end }}

{{- if eq .chezmoi.os "darwin" -}}
# MacOS-only
fish_add_path /opt/homebrew/bin/
set -xg SHELL /opt/homebrew/bin/fish
{{ end }}

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                    $PATH                        ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
fish_add_path $XDG_BIN_HOME
fish_add_path $XDG_SCRIPT_HOME
fish_add_path /usr/local/bin
fish_add_path /usr/local/sbin
fish_add_path /usr/bin
fish_add_path /usr/sbin
fish_add_path /bin
fish_add_path /sbin
fish_add_path /usr/lib/go/bin
fish_add_path $XDG_DATA_HOME/nvim/mason/bin
fish_add_path $GOBIN

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                    PLUGINS                      ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
# ━━━━━━━━━ Done ━━━━━━━━━
set -xg __done_min_cmd_duration 10000
set -xg __done_notification_urgency_level low

# ━━━━━━━━━ Fzf ━━━━━━━━━
set -xg FZF_DEFAULT_COMMAND fd
set -xg FZF_DEFAULT_OPTS '
  --color=fg:#e2d9c5,fg+:#d0d0d0,bg:#0A0B14,bg+:#031B26
  --color=hl:#45CEE9,hl+:#E3385E,info:#d7005f,marker:#E3385E
  --color=prompt:#d7005f,spinner:#af5fff,pointer:#af5fff,header:#e2d9c5
  --color=border:#262626,preview-fg:#8606db,label:#aeaeae,query:#E3385E
  --border="rounded" --border-label="" --preview-window="border-rounded" --prompt="> "
  --marker=">" --pointer="◆" --separator="─" --scrollbar="│"
  --layout="reverse" --info="right"
  --bind "ctrl-u:preview-half-page-up"
  --bind "ctrl-d:preview-half-page-down"'
set fzf_preview_dir_cmd eza --long --header --icons --all --color=always --group-directories-first --hyperlink
set fzf_directory_opts --bind "ctrl-o:execute($EDITOR {} &> /dev/tty)"
set fzf_fd_opts --hidden --color=always
set fzf_preview_file_cmd bat -n --color=always
set fzf_diff_highlighter delta --paging=never
set fzf_history_time_format %d-%m
